.img-fluid {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

li {
  margin-right: 10px;
}

.nav-link {
  color: #0275d8 !important;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
